html,
body {
  margin: 0;
  height: 100%;
}
.navbar {
  border-color: #352f44;
  .navbar-brand {
    text-shadow: 2px 2px 5px black;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        text-shadow: 2px 2px 5px black;
      }
    }
  }
}
#content {
  h2 {
    text-shadow: 2px 2px 3px black;
  }
}
.card {
  border-color: $danger;
}
